<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Bird On Rails</title>
    <%= csrf_meta_tags %>
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="preloader">
      <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
      </div>
    </div>

    <div id="main-wrapper">
      <%= render partial: 'layouts/topbar' %>
      <%= render partial: 'layouts/left_sidebar_materialpro' %>
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
          <div class="container-fluid">
              <%= yield%>
          </div>
      </div>
    </div>
    

    <script src="/js/jquery/dist/jquery.min.js"></script>
    <script src="/js/popper.js/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/js/app.init.horizontal.js"></script>
    <script src="/js/app-style-switcher.horizontal.js"></script>
    <script src="/js/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/sparkline/sparkline.js"></script>
    <script src="/js/waves.js"></script>
    <script src="/js/sidebarmenu.js"></script>
    <script src="/js/custom.min.js"></script>
  </body>
</html>
